extends layouts/main.pug

block content
	.user-profile
		.user-profile__header
			img.avatar(src=user.avatarUrl)
			h4.profile__username=user.name
		if user.id === loggedUser.id 
			.user-profile__btns 
				a(href=`user${routes.editProfile}`)
					button Edit Profile
				a(href=`user${routes.changePassword}`)
					button Change Password