.empty__message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  opacity: 0.3;
}

.auth-switch {
  text-align: center;
  margin-top: 40px;
  a {
    text-decoration: underline;
  }
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
