doctype html
html(lang="ko")
	head
		title #{pageTitle} | Wetube
		link(rel="stylesheet" href="https://unpkg.com/mvp.css")
	body
		header
			if fakeUser.loggedIn
				small Hello #{fakeUser.username}
				nav
					ul
						li
							a(href="/upload") Upload Video
					
		main
			block content 
	include partials/footer.pug